.normal  {
    background-color:#ECEAD5;
}
.poison{
    background-color:#a584ce
}
.electric{
    background-color: #F2F511;
}
.ground{
    background-color: #817810;
}
.fairy{
    background-color: #e5c7d6;
}
.fire{
    background-color: #CF5943;
}
.grass{
    background-color: #8ae29d;
}
.water{
    background-color: rgb(154, 200, 231);
}
.bug{
    background-color: #0c6b37;
}