.normal{
    background-color:#ECEAD5
}
.poison{
    background-color:#a584ce
}
.electric{
    background-color: #F2F511;
}
.ground{
    background-color: #817810;
}
.fairy{
    background-color: #e5c7d6;
}
.fire{
    background-color: #CF5943;
}